.Weather {
  font-family: Helvetica, Arial, sans-serif;
  border: 5px solid rgb(44, 44, 46);
  padding: 16px;
  border-radius: 10px;
  color: rgb(44, 44, 46);
  background-color: rgb(255, 255, 255);
}

.Weather h1 {
    line-height: 0px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather ul {
    margin: 0;
    padding: 0;
  }

.Weather li {
    display: inline;
    font-size: 11px;
    list-style: none;
  }

.Weather .img {
    position: relative;
    bottom: -15px;
}


.Weather .temperature {
    font-weight: 600;
    font-size: 64px;
    color: rgb(44, 44, 46);
}

.Weather .unit {
    position: relative;
    bottom: 30%;
}

.Weather .form-control {
    background-color: rgb(44, 44, 46);
    color: rgb(255, 255, 255);
}

.Weather .form-control:focus {
    background-color: rgb(44, 44, 46);
    color: rgb(255, 255, 255);
}

.Weather .btn {
    font-size: 22px;
    position: relative;
    right: 90%;
    border: none;
    color: rgb(44, 44, 46);
    background-color: rgb(255, 255, 255);
}

.Weather .btn:hover {
    color: rgb(233, 37, 2);
    background-color: rgb(255, 255, 255);
}

.Weather .btn:focus {
    color: rgb(233, 37, 2);
    background-color: rgb(255, 255, 255);
}

.Weather .date {
    position: relative;
    bottom: -5px;
    font-size: 11px;
}

.Weather .description {
    font-size: 18px;
    margin-bottom: 20px;
}